{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset-print">
    <ul style="list-style-type: disc; margin-left: 20px; line-height: 1.3;">
      {% for skill in skills.toolset %}
      <li>{{ skill.name }} ({{ skill.level }})</li>
      {% endfor %}
    </ul>
  </div>
</section>
<!--//skills-section-->
{% endif %}
